{% extends '::base.html.twig' %}

{% block body %}
    {% trans %}Login{% endtrans %}
    <br>
    <p>{{ 'Register' | trans }}</p>
    <br>
    {{ 'Symfony is great'|transchoice(1) }}
    <br>
    {% transchoice 1 %}Language{% endtranschoice %}
    <br><br>
    <button>{{ 'Register' | trans }}</button> <button>{{ 'Login' | trans }}</button>
{% endblock %}